.composer-card {
    display: flex;
    width: 18rem;
    position: relative;
    background: var(--orange);
    border-radius: 1rem;
    overflow: hidden;
    flex-direction: column;
    filter: drop-shadow(0 0 0.75rem var(--brown));
}

.composer-card > img {
    object-fit: fill;
}


.composer-info {
    display: flex;
    flex-direction: column;
    color: var(--light);
    padding: 1rem;
}

.composer-title {
    margin-bottom: auto;
    margin-top: 0.5rem;
}

.image-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light);
    opacity: 1;
    transition: opacity 0.5s;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.plus-icon {
    cursor:pointer;
    margin-bottom: 0.4rem;
}

.plus-icon:hover {
    color: var(--yellow);
}

p {
    cursor: context-menu;
}