:root {
    --light: #E2DEDA;
    --brown: #0C4A61;
    --orange: #D76735;
    --yellow: #ABDFF0;
}
:root * {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    overflow-x: hidden;
}


.App {
    background: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.page-title {
    color: var(--brown);
    font-family: Lobster;
    font-size: 5rem;
    margin-top: 5rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    width: 57%;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-button {
    background: var(--brown);
    border: none;
    width: 13rem;
    margin: 1rem;
    height: 3rem;
    color: var(--yellow);
    font-size: 1.2rem;
    cursor: pointer;
    border: 3px solid white;
}

.nav-button:hover {
    color: var(--light);
}

.search-bar {
    width: 36vw;
    background: var(--brown);
    color: var(--yellow);
    padding: 0.4rem;
    border: 3px solid white;
    font-size: 1.2rem;
}

