:root {
    --light: #E2DEDA;
    --brown: #0C4A61;
    --orange: #D76735;
    --yellow: #ABDFF0;
    --border-radius: 1rem;
}
:root * {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    overflow-x: hidden;
}


.App {
    background: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.page-title {
    color: var(--orange);
    font-family: Lobster;
    font-size: 5.5rem;
    align-self: center;
    text-align: center;
    filter: drop-shadow(0rem 0.3rem 0.2rem var(--brown));
    margin: 4rem;
}

.buttons {
    display: flex;
    width: 57%;
    justify-content: center;
    flex-wrap: wrap;
}

.search-bar {
    width: 36vw;
    background: transparent;
    color: var(--brown);
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 5rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--brown);
}



